/*
.line{
width: 50%;
height: 50px;
border-bottom: 10px solid black;
position: absolute;
bottom:95px;
left: 0px;
}
*/

body {
	font-family: "Montserrat", sans-serif;

	color: red;

	margin: 0;

}

/* Main Map Data */

#bars {
	display: flex;
	
}

#performance {
	display: flex;
	flex-direction: row;
}

.beatmaps {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}


#combos, #misses, #scores, #heartrate {
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin: 2px 0 0 0;
}

#remaining1, #remaining2, #remaining3, #progress1, #progress2, #progress3 {
	fill: transparent;
	stroke: blue;
	stroke-width: 4px;	
}

#remaining1, #remaining2, #remaining3 {
	opacity: 0.25;
}

#progress1, #progress2, #progress3 {
	stroke-dasharray: 377;
	stroke-dashoffset: 370;
}




#progressbar svg, #healthbar svg, #accuracybar svg {
	transform: rotate(-90deg);
}

#progressbar div, #healthbar div, #accuracybar div {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 150px;
	height: 150px;
}

#progressbar svg, #healthbar svg, #accuracybar svg {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 150px;
	height: 150px;
}
/*
#progressbar svg, #progressbar div {
	position: absolute;
	bottom: 5px;		
	left: 50%;
	margin-left: -225px;
}

#healthbar svg, #healthbar div {
	position: absolute;
	bottom: 5px;	
	left: 50%;
	margin-left: -75px;
}

#accuracybar svg, #accuracybar div {
	position: absolute;
	bottom: 5px;		
	left: 50%;
	margin-left: 75px;
}

#progresstime div {
	position: absolute;
	bottom: 5px;		
	left: 50%;
	margin-left: -225px;
}
*/




#progress-current {
	display: block;
	font-size: 16px;
	font-weight: 600;
}
#progress-total {
	display: block;
	font-size: 16px;
	font-weight: 600;
}

#health-text {
	font-size: 16px;
	font-weight: 600;
}

#accuracy-text {
	font-size: 16px;
	font-weight: 600;
}